[submodule "javassist_study/javassist_study/javassist"]
	path = javassist_study/javassist_study/javassist
	url = https://github.com/jboss-javassist/javassist
[submodule "javassist_study/javassist"]
	path = javassist_study/javassist
	url = https://github.com/jboss-javassist/javassist
